@charset "UTF-8";

/* layer */
header div{height: 160px;background: black;}
header div h1{font-weight: bold;color: white;}
nav div{height: 80px;background: skyblue;}
nav div div{height:50px ;width: 170px; float: left;padding-top: 30px;text-align: center;}
nav div div:hover{-webkit-transition:all 0.5s; background: black;}
nav div div a{text-decoration: none; color: white; font-size: 20px; font-weight: bold;}
section div{height: 500px;background: silver;}
footer div{height: 130px;background: black;}
footer h3{font-weight: bold;color: white;}

/* table td */
.sxx_td{width: 60px;}
.sx_td{width: 80px;}
.s_td{width: 120px;}
.n_td{width: 140px;}
.x_td{width: 180px;}
.xx_td{width: 220px;}
.xxx_td{width: 260px;}

/* tag */
table{text-align: center;margin-top: 15px;}

/* class */
.search{width: 300px;padding-bottom: 2px;height: 30px;}
.sBox{width: 90;height: 30px;}
.sButton{width: 60px;height: 30px;}
.s170d16{width: 170px;height: 16px;margin-right: 65px;}
.s170d16t5{width: 170px;height: 16px;margin-top: 25px;}
.n10d1{width: 200px;height: 20px;}
.abs {position: absolute;margin-left: -100px;}

/* id */
#loginBtn{width: 60px;height: 46px;margin-left: 75px;}
#loginF{width: 250px;}
#loginF a{margin-top: 50px;margin-left: 75px;text-decoration: none;color: black;}